body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; 
}
b {
    font-style: normal;
    color: #6a6a6a;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.HeaderContentOne > img {
    width: 100%;
}
.HeaderContentOne {
    margin: 20px 10px 0 10px;
}
.header {
    background-color: #fafafa;
    padding: 15px 0 0 0;
    border-bottom: 1px solid #ebebeb;
}
.HeaderContentTwo {
    margin: 15px 0 0 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: #fff;
}
.HeaderContentTwoImage >img {
    float: right;
    padding: 11px 5px 3px 1px;
    margin: 0 0 0 0;
    width: 10%;
}
.HeaderContentTwoPartOne > h1 {
    font-size: 20px;
    padding: 14px;
    margin: 0;
}
.HeaderContentThreePartOne {
    padding: 15px 0 10px 0;
}
.HeaderContentThreePartOne > a {
    padding: 14px 0 0 0;
}
.SectionOneContent-two > p {
    color: #808080;
    margin: 0;
    font-size: 13px;
    padding: 15px 0 0 0;
}
.SectionTwoDivisionOnePart > a h3 {
    font-size: 20px;
    padding-top: 15px;
    color: #1a0dab;
    margin: 0;
}
a#profilelink {
    color: #006621;
    font-style: normal;
    text-decoration: none;
}
.notesclass {
    color: #545454;
}
span.notes {
    line-height: 1.4;
    word-wrap: break-word;
    font-family: arial,sans-serif;
    font-size: 14px;
}
em {
    font-style: normal;
    color: #6a6a6a;
}
.imageslist > img {
    width: 80%;
    height: 90px;
}
.imageslist {
    margin: 7px 0 0 0;
}
.imageslistcontent >a {
    color:#1a0dab;
}
.imageslistcontenttwo > p {
    float: right;
    margin: 0;
    color: #808080;
    font-size: 13px;
    margin: 2px 26px 0 0px;
}
.imageslistcontent {
    margin: 3px 0 0 0;
}
.searchlist {
    display: inline-flex;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding:0;
}
ul li a{
    color:#1a0dab;
}
.searchlist > ul li {
    padding: 3px 32px 3px 0;
}
ul li a b{
    color:#1a0dab;
}
ul#seachlisttwo {
    padding: 0 0 0 100px;
}
.searchreleated > h5 {
    color: #222;
    margin: 15px 0 15px 0;
}
.SectionTwoDivisionTwoPart{
    border: 1px solid #ebebeb; 
}
.contentfixpartone {
    padding: 16% 0 0 10px;
}
.contentfixparttwo > img {
    width: 100%;
    height: 170px;
}
.contentfixpartone > h1 {
    color: rgba(0,0,0,.87);
    line-height: 1.2;
    margin:0;
    font-size: 30px;
    font-weight: normal;
}
.contentfixpartone > p {
    color: #777;
    margin: 0;
    font-size: 14px;
}
.contentfix {
    border-bottom: 1px solid #ebebeb;
}
.contentfixparttwo > h1 {
    color: #222;
    font-size: 18px;
    margin: 0;
    padding: 15px 0 5px 10px;
}
.availablelist {
    border-top: 1px solid #ebebeb;
    padding: 7px 0 10px 0;
    margin: 1px 10px 0 10px;
}
.availablelist > a {
    color: rgba(0,0,0,.87);
    padding: 15px 0px 0px 10px;
    font-size: 13px;
}
.contentfixthree {
    padding: 5px 20px 10px 10px;
}
.contentfixthree p {
    font-family: arial,sans-serif;
    margin: 0;
}
b#profilealign {
    color: #222;
    font-weight: 500;
    font-size: 16px;
}
.contentfixthree > h5 {
    font-size: 17px;
    color: #1a0dab;
    padding: 3px 0 0 0px;
    margin: 0;
}
.projectlist > img {
    width: 95px;
    height: 100px;
}
.githubproject {
    padding: 10px;
}
.githubproject > h5 {
    color: #222;
    font-size: 17px;
    margin: 0;
    padding: 0px 0 15px 0px;
}
.projectlist a {
    color: #1a0dab;
    font-size: 14px;
}
.projectlist p {
    color: #777;
    margin: 0;
    font-size: 11px;
}
.profilelist{
    padding:0px 10px 10px 10px;
}
.profilelist h5{
    color: #222;
    font-size: 17px;
    margin: 0;
    padding: 5px 0 10px 0px;
}
.profilelistcontent > img {
    width: 64px;
}
.profilelistcontent > h5 {
    color: #222;
    font-size: 17px;
    margin: 0;
    padding: 0px 0 8px 0px;
}
.profilelistcontent a {
    color: #1a0dab;
    font-size: 14px;
}
/* mobiledevice */
.logofix {
    text-align: center;
}
.Searchbar{
    margin: 15px 10px 0 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: #fff;
}
.Searchbarcontent-one > h1{
    font-size: 20px;
    padding: 14px;
    margin: 0;
}
.Searchbarcontent-two > img{
    float: right;
    padding: 11px 5px 3px 1px;
    margin: 0 0 0 0;
    width: 10%;
}
.navigate {
    padding: 0 13px 0px;
}
.mobiledevicecontent {
    padding: 10px;
    background-color: #fafafa;
}
.profileview {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #424242;
}
.profileviewtwo > img {
    width: 82px;
    float: right;
    border-top-right-radius: 8px;
}
.profileviewone > h1 {
    color: rgba(243, 243, 243, 0.87);
    line-height: 1.2;
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}
.profileviewone > p{
    color: rgba(255,255,255,.7);
    margin: 0;
    font-size: 14px;
}
.profileviewone {
    padding: 30px 0 0 10px;
}
.availablecontent {
    border:  1px solid #ebebeb;
    background-color: #fff;
}
.availableview-one h5 {
    padding: 10px 0 0 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
}
.availableview-two {
    border-radius: 50%;
    border: 1px solid #DFE1E5;
    margin: 0 0 0 20px;
    padding: 11px;
}
.avilableitems {
    display: flex;
}
.availableheader > a {
    padding: 0px 0 0 20px;
    color: rgba(0,0,0,.87);
    font-size: 13px;
}
.availableheader {
    padding: 2px 0 6px 1px;
}
.bharatnotes {
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 13px;
}
.bharatnotes > p {
    margin: 0px 0 5px 0;
    color: #3C4043;
    font-size: 14px;
}
b#notesalign {
    color: #222;
    font-weight: 500;
    font-size: 14px;
}
.bharatnotes > h5 {
    font-size: 14px;
    color: #1967D2;
}
.tasklist{
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 13px;
}
.tasklist h5 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
}
.taskdone {
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
.taskdone img {
    border-radius: 5px;
    width: 100%;
    height: 220px;
    padding: 0 0 10px 0px;
}
.taskdone a {
    color: #1a0dab;
    font-size: 14px;
    padding: 0 0 0 15px;
}
.taskdone p{
    color: #777;
    margin: 0;
    font-size: 11px;
    padding: 0 0 10px 15px;
}
div#spacealign {
    padding: 0 50px 0px 0px;
}
.socialid{
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 13px;
}
.socialid h5{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
}
.profileid {
    padding: 0 0 15px 0;
}
.profileid a{
    color: #1a0dab;  
}
.searchcontent{
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}
@media screen and (max-width: 2000px) and (min-width: 991px)  {
    .mobiledevice{
        display:none;
    }
}
@media screen and (max-width: 992px) {
    .header{
        display:none;
    }
    .SectionOne{
        display:none;
    }
    .SectionTwo{
        display:none;
    }
    .header.mobd{
        display:block;
    }
}
@media screen and (max-width: 768px) {
    div#spacealign {
        padding: 0 20px 0px 0px;
    }
}
@media  screen and (max-width:576px) {
    .taskdone img {
        height: 130px;
    }
}